
.pantalla_bloqueo {
display: none;        /* INICIAR OCULTO, EN LUGAR DE NONE PUEDEN PONER BLOCK Y VER DESDE QUE ENTRA COMO SE VE LA PANTALLA DE BLOQUEO*/
position: fixed;    /* MANTENERLO EN LA MISMA POSICION AUNQUE SE SUBA Y BAJE CON EL SCROLL */
 background: #000;    /* COLOR DE FONDO DE LA PANTALLA DE BLOQUEO */
height: 100%;        /* ALTURA IGUAL AL TAMAÑO DEL NAVEGADOR */
width:     100%;        /* ANCHURA IGUAL AL TAMAÑO DEL NAVEGADOR */
top: 0;            /* QUE SE UBIQUE AL INICIO DE LA PARTE SUPERIOR DE LA VENTANA */
opacity:.30;
-moz-opacity: 0.20;
filter: alpha(opacity=80);        /* GRADO DE TRANSPARENCIA VA DE 0 A 1*/
}
 
#mensaje_bloqueador{
color:     white;         /* COLOR DEL TEXTO */
padding-top: 150px;     /* TAMAÑO DEL REÑENO, PARTE SUPERIOR(TOP)*/
text-align:     center;    /* ALINEACION DEL TEXTO*/
}
 
#imagen_bloqueador{
color:     white;
padding-top: 10px;
text-align: center;
}
 
/* ESTILO PARA CAMBIAR APARIENCIA DEL BOTON INICIAR */
#iniciar{
background:     #045FB4;
color:         #FFFFFF;
height:     100px;
width:         200px;
font-size:     18px;
border-radius:     10px 10px 10px 10px;
}

